In [1]:
%ls ../data

BreadBasket_DMS.csv

In [2]:
import random
import numpy as np
first_names=('Alex','Bob','Cath','Claire','David','Claire','Oliver','Jack','Harry','Jacob','Charlie',
             'Thomas','George','Oscar','James','William')
last_names=('Smith','Jones','Taylor','Davies','Brown','Wilson','Evans','Johnson')
people={}
for i in first_names:
    for j in last_names:
        x=i+" "+j
        people[x]=1
    
members=np.random.permutation(list(people.keys()))
members[:10]

array(['Oliver Evans', 'Jack Davies', 'James Johnson', 'Harry Brown',
       'Thomas Wilson', 'Thomas Taylor', 'Alex Brown', 'William Evans',
       'Alex Evans', 'Cath Smith'], dtype='<U15')

In [3]:
from datetime import datetime, timedelta
d = timedelta(days=365)
d

datetime.timedelta(365)

In [4]:
datetime.strptime('2019-3-20','%Y-%m-%d')-d

datetime.datetime(2018, 3, 20, 0, 0)

In [5]:
old_days=99*365
young_days=18*365
datetime.strptime('2019-3-20','%Y-%m-%d')-timedelta(days=random.randint(young_days,old_days))

datetime.datetime(1966, 8, 9, 0, 0)

In [6]:
for i in members:
    firstname,lastname=i.split()
    dob=datetime.strptime('2019-3-20','%Y-%m-%d')-timedelta(days=random.randint(young_days,old_days))
    obj,created=Customer.objects.update_or_create(
        firstname=firstname,
        lastname=lastname,
        defaults={
            'firstname':firstname,
            'lastname':lastname,
            'dob': dob
        },
    )
print(obj,created)

Harry Davies True

In [7]:
import pandas as pd
df = pd.read_csv('../data/BreadBasket_DMS.csv')
df['Datetime']=pd.to_datetime(df.Date+' '+df.Time, format='%Y-%m-%d %H:%M:%S')
df.drop(['Date','Time'],axis=1,inplace=True)
df.head(10)

   Transaction           Item            Datetime
0            1          Bread 2016-10-30 09:58:11
1            2   Scandinavian 2016-10-30 10:05:34
2            2   Scandinavian 2016-10-30 10:05:34
3            3  Hot chocolate 2016-10-30 10:07:57
4            3            Jam 2016-10-30 10:07:57
5            3        Cookies 2016-10-30 10:07:57
6            4         Muffin 2016-10-30 10:08:41
7            5         Coffee 2016-10-30 10:13:03
8            5         Pastry 2016-10-30 10:13:03
9            5          Bread 2016-10-30 10:13:03

In [8]:
import pytz
from tqdm import tqdm_notebook

bkk_tz = pytz.timezone("UTC")
all_customers=Customer.objects.all()

for i in tqdm_notebook( range(df.shape[0]) ):
    r=df.iloc[i]
    item, created = Item.objects.get_or_create(
        name=r.Item,
        defaults={
            'name': r.Item, 
            'price': random.randint(20,40)*10
        }
    )
    
    transaction, created = Transaction.objects.get_or_create(
        pk=r.Transaction,
        defaults={
            'datetime': bkk_tz.localize(r.Datetime), 
            'customer': random.choice(all_customers)
        }
    )
    
    rec, created = Record.objects.get_or_create(
        pk=i+1,
        defaults={
            'transaction': transaction, 
            'item': item
        }
    )

HBox(children=(IntProgress(value=0, max=21293), HTML(value='')))